:root {
  --c-color-2: #999999;
  --el-border-radius-base: 0px !important;
  --el-color-primary: rgb(79, 70, 229) !important;
  --el-color-primary-light-3: rgb(100, 92, 237) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.chat-active {
  background-color: #eee;
  border: solid 1px var(--el-color-primary) !important;
  /* color: var(--el-color-primary) !important; */
}

.chat-active:hover .chat-delete {
  display: block !important;
}

::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

.copy {
  display: none;
}

#messages li:hover .copy {
  display: block;
}

.copy-button {
  background-color: transparent; /* 透明背景 */
  border: none; /* 移除边框 */
  padding: 0; /* 移除内边距 */
  margin: 0; /* 移除外边距 */
  cursor: pointer; /* 光标变为手形 */
  outline: none; /* 移除聚焦时的轮廓线 */
  color: inherit; /* 文字颜色继承自父元素 */
  font: inherit; /* 字体样式继承自父元素 */
  /* 其他需要重置的样式 */
  margin-right: 8px;
}

@media screen and (max-width: 1000px) {
  .el-dialog {
    width: 90%;
  }
  .menu-button {
    display: flex !important;
  }
}
